.banner {
	background-image: linear-gradient(-230deg,rgba(0, 0, 0, 1.0)
	color: white;
	padding: 200px 0px;
	width: 100%;
	height: 300px;
	background-size: cover;
	background-position: center;
}

.banner h1{
	font-size: 40px;
	position: absolute;
	top: 120px;
	left: 130px;
}

.banner p {
	font-size: 40px;
	font-weight: lighter;
	opacity: 0.8;
	margin-bottom: 40px;
	position: absolute;
	top: 170px;
	left: 160px;
}

.banner a {
	position: absolute;
	top:250px;
	left: 280px;
}