.cards {
	display: flex;
	flex-wrap: wrap;
}

.card {
	padding: 25px;
	display: flex;
	align-content: center;
	justify-content: center;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	margin: 20px;
	flex-basis: 210px;
}

.card img {
	width: 100px;
	height: auto;
}

.card h4 {
	align-content: center;
	flex-grow: 1;
	padding-left: 12px;
}